*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: monospace;
}
.container{
   background: linear-gradient(135deg, rgba(223, 79, 255, 0.216), rgba(193, 65, 252, 0.937));
   width: 100%;
   min-height: 100vh;
   color: rgba(134, 77, 181, 0.899);
   
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}
.calculator{
   width: 100%;
   max-width: 600px;
   
}
.calculator h1{
   font-size: 3rem;
   text-align: center;
}
.calculator h1 span{
   color: rgba(255, 7, 255, 0.986);
   text-decoration: underline;
   font-weight: bolder;
}
.input-box{
   margin: 40px 0;
   padding: 35px;
   background: rgb(247, 215, 255);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.input-box input{
   flex: 1;
   margin-right: 20px;
   padding: 14px 20px;
   border: 0;
   outline: 0;
   font-size: 18px;
   border-radius: 10px;
   position: relative;
   width: 40%;
   margin-bottom: 20px;
}
.input-box button{
   background: rgba(255, 13, 203, 0.622);
   border: 0;
   outline: 0;
   padding: 15px 30px;
   border-radius: 10px;
   color: white;
   font-weight: bolder;
   font-size: 1.3rem;
   cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator{
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: auto;
   height: auto;
   position: absolute;
   background-position: calc(100% - 10px);
   background-size: 30px;
   cursor: pointer;
}
#result{
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
#result span{
   color: rgb(213, 2, 94);
}

@media (max-width: 768px) {
   .calculator h1 {
       font-size: 2.5rem;
   }

   .input-box {
       padding: 15px;
   }

   .input-box input, .input-box button {
       font-size: 0.9rem;
       width: 40%;
   }
}

@media (max-width: 480px) {
   .calculator h1 {
       font-size: 2rem;
   }

   .input-box {
       padding: 10px;
       
   }

   .input-box input, .input-box button {
       font-size: 0.8rem;
       width: 40%;
   }

   #result {
       font-size: 1rem;
   }
}
